
/*icon-search*/
.icon-search{
    width: 20px;
    height: 20px;
    position: relative;
    display: block;
    color: #333333;
    transition: all .1s;
}

.icon-search:before{
    position: absolute;
    width: 55%;
    height: 55%;
    border:3px solid;
    border-radius: 100%;
    content: '';
}

.icon-search:after{
    position: absolute;
    content: '';
    border-left: 3px solid;
    height: 50%;
    right: 1px;
    bottom: 0;
    transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
}

.icon-search:hover{
    width: 25px;
    height: 25px;
}

/*购物车*/
icart{
    display: inline-block;
    background-position: 0 0;
    width: 16px;
    height: 16px;
    background-image: url("../Icon/sprite.png");
    background-repeat: no-repeat;
}

/*箭头*/
iarrow{
    position: relative;
    display: block;
    width: 5px;
    height: 5px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

/*搜索*/
isearch{
    background-image: url("../Icon/search.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    opacity: 1;
    z-index: 999;
    display: block;
    cursor: pointer;
}

/*竖分割先*/
vbar{
    border-left: 1px solid #999;
}

/**/
imenu{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../Icon/mobile-menu.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

